.skills {
    background-color: #9fdaa3;
}

.skillContainer {
    width: 310px;
    background-color: #ffffff;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: #cecece;
}

.title {

}

.description {

}