.empty {

}

.mainPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #e7c0c0;
}

.main {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}
.mainContainer {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid green;
}

.presentation {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
    border: 1px solid red;
}
.photo {
    width: 50%;
}
.image {
    width: 100%;
    background-color: #cecece;
}
.photoContainer {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}